/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
  
   -fx-background-color: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
   -fx-background-radius: 10;
   -fx-border-color: white;
   -fx-border-width:2;
   -fx-border-radius: 10;

}

.label{
    -fx-text-fill: white;
    -fx-font: bold 12 System;
}

.tab-pane {
    -fx-background-color:  linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
}

.tab {
    -fx-background-color: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    -fx-border-width: 3;
    -fx-border-radius: 15;
    -fx-font: bold 12 System;
   
    
    
  
    }
    
.tab .tab-label {
        -fx-background-color: transparent;
        -fx-text-fill: white;
        
    }
    
.tab-content-area {
        -fx-background-color: transparent;
  }
  
 .tab:hover {
       -fx-background-color:  linear-gradient(to right, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); 
  }
  
 .tab:selected {
        -fx-background-color: linear-gradient(to right, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%);
        -fx-font: bold 14 System;
    }
    
.text-field {
    -fx-background-insets: 1, 2, 3;
    -fx-background-radius:9 0 8 0, 9 0 8 0, 9 0 8 0;
    -fx-font: bold 12 System;
    -fx-effect: dropshadow( three-pass-box , WHITE , 10 , 0.0 ,   1 , 1 );
    
}

.text-area {
    -fx-background-insets: 1, 2, 3;
    -fx-background-radius:9 0 8 0, 9 0 8 0, 9 0 8 0;
    -fx-font: bold 12 System;
    -fx-effect: dropshadow( three-pass-box , WHITE , 10 , 0.0 ,   1 , 1 );
}    
.button{
     -fx-text-fill: white;
     -fx-font: bold 16 System;
     -fx-background-color: linear-gradient(to right, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
     -fx-effect: dropshadow( three-pass-box , WHITE , 10 , 0.0 ,   1 , 1 );
     -fx-scale-x: 1.0;
     -fx-scale-y: 1.0;
}
.button:hover{     
     -fx-background-color:   linear-gradient(to right, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
     -fx-scale-x: 1.1;
     -fx-scale-y: 1.1;
}

.table-view{ 
    -fx-background-color: transparent;
    -fx-effect: dropshadow( three-pass-box , WHITE , 10 , 0.0 ,   1 , 1 );
}
.table-view:cell-selection{
    -fx-background-color: blueviolet;
}
.table-view .column-header-background{
    -fx-background-color: transparent;
    -fx-effect: dropshadow( one-pass-box ,rgba(0,0,0,0.6) , 8 , 0.0 , 2 , 0 );    
}

.table-view .column-header-background .label{
   -fx-text-fill: white;  
   -fx-font-size: 14;
   -fx-font-weight: bold;
   -fx-text-alignment: center;
   -fx-alignment: center;
  
}

.table-view .cell{
    -fx-background-color: transparent;
}
.table-view .cell:selected{
    -fx-background-color: linear-gradient(to right, rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%);;
    -fx-background-radius: 30;
}
    

.tree-view{   
   -fx-text-fill: white;  
   -fx-background-color:transparent;   
   -fx-background-radius: 10;
   -fx-border-color: white;
   -fx-border-width:2;
   -fx-border-radius: 10;
   -fx-effect: dropshadow( three-pass-box , WHITE , 10 , 0.0 ,   1 , 1 );   
   
    
}
.tree-cell {
    -fx-background-color:transparent;  
    -fx-text-fill: white;  
    -fx-font-size: 14;
}
.tree-cell .tree-disclosure-node .arrow {
        -fx-background-color: white;
        -fx-padding: 0.333333em; 
        -fx-shape: "M 0 -4 L 8 0 L 0 4 z";
    }
    
.combo-box {
        -fx-background-color: linear-gradient(to right, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.3) 100%);        
   }    
 .combo-box-base:hover {
      
         -fx-background-color:linear-gradient(to right, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%);
   }   
   
   .combo-box .list-cell {
        -fx-background: transparent;
        -fx-background-color: transparent;
        -fx-text-fill: white;
        -fx-padding: 3 0 2 7;
        -fx-cell-size: 1.66667em; 
    }
    
    .check-box {
          -fx-background-color: linear-gradient(to right, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.3) 100%);
          -fx-text-fill: white;
          -fx-font: bold 12 System;
          -fx-effect: dropshadow( three-pass-box , WHITE , 10 , 0.0 ,   1 , 1 );
           -fx-background-radius: 5;
     
    }
    
    .check-box .box {
        -fx-background-color: transparent, transparent, transparent, white;
        -fx-background-insets: 0 0 -1 0, 0, 1, 2;
        -fx-background-radius: 2, 2, 1, 1;
        -fx-padding: 0.25em; 
    }
    
    